################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Demo/CopilotIndices/17.14.1700.50054/CodeChunks.db
/.vs
